.top {
    text-align: center;
    /* border-top: 4px solid #35605A;
    border-bottom: 4px solid #35605A; */
    font-weight: bold;
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: black;
    background-color: #D3D2C7;
    height:9em;
    display:flex;
    justify-content: center;
    align-items: center;
}


.row {
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; */
    width: 100%;
}

body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
}

#top-heading {
    margin-top: 20px;
}

.fieldOfStudy {
    font-style: italic;
}

.section-one,
.section-two,
.section-three {
    margin-top: 20px;
    /* margin-bottom:10px; */
    border-bottom: 2px solid #161925;
    width: 90%;
}

.section-four {
    margin-top: 20px;
    width: 90%;
    margin-bottom: 40px;
}

.company {
    font-weight: bold;
}

.position,
.position-length {
    font-style: italic;
}

footer {
    background-color: #D3D2C7;
    height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    color: black;
}

a:hover{
    font-size: larger;
    transition: 0.2s ease-in-out;
}

/* .company:hover {
    color: D3D2C7;
    text-shadow: 1px 1px 2px D3D2C7;
}

.position:hover {
    font-style: normal;
    font-weight: bold;
    color:D3D2C7;
} */

.section-one:hover,
.section-two:hover,
.section-three:hover,
.section-four:hover,
.top:hover,
footer:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 768px) {

    .row {
        margin-bottom: 15px;
    }
}

body {
    background: linear-gradient(to bottom, white, #D3D2C7);
    font-family: 'Lora';
}

html {
    scroll-behavior: smooth;
}

.container a.navbar-brand {
    margin: 0 20px; /* Add horizontal spacing between links */
    font-size: 1.1em; /* Optional: Make the links larger for better readability */
    text-decoration: none; /* Ensure links are clean */
    color: black; /* Ensure links are visible */
}

.container a.navbar-brand:hover {
    text-decoration: underline;
    transition: 0.3s ease;
}
