.name {
    text-align: center;
    border-top: 4px solid black;
    border-bottom: 4px solid black;
    /* font-weight: bold; */
    margin-top: 40px;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    color: white;
    background-color: black;
}

.row {
    /* padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px; */
    width: 90%;
}

body {
    background-color: azure;
    font-family: 'Times New Roman', Times, serif;
}

h1 {
    font-weight: bold;
}

#top-heading {
    margin-top: 20px;
}

.fieldOfStudy {
    font-style: italic;
}

.section-one,
.section-two,
.section-three {
    margin-top: 20px;
    /* margin-bottom:10px; */
    border-bottom: 2px solid black;
    width: 90%;
}

.section-four {
    margin-top: 20px;
    width: 90%;
    margin-bottom: 40px;
}

.company {
    font-weight: bold;
}

.position,
.position-length {
    font-style: italic;
}

footer {
    background-color: black;
    height: 5em;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-content {
    color: white;
}

a:hover {
    color: darkblue;
    text-decoration: underline;
}

.company:hover {
    color: gray;
    text-shadow: 1px 1px 2px gray;
}

.position:hover {
    font-style: normal;
    font-weight: bold;
    color:gray;
}

.section-one:hover,
.section-two:hover,
.section-three:hover,
.section-four:hover,
.container-fluid:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.6);
    transition: box-shadow 0.3s ease-in-out;
}

@media (max-width: 768px) {

    .row {
        margin-bottom: 15px;
    }
}